@using EntityLayer.Concrate  
@model List<Writer>
@{
    ViewBag.Title = "Deneme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Deneme</h2>

@ViewBag.vlc
@*@foreach (var item in Model)
{

    @item.CategoryID 
    <br />

    <br />
}*@
